<app-header />

<main>
  <ul id="users">
    <!-- Using Structural Directive: *ngFor -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->

    <!-- Using New Built-in Template Feature: @for -->
    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [selectedUser]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  <!-- Using Structural Directive: *ngIf -->
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template> -->

  <!-- Using New Built-in Template Feature: @if -->
  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  }
</main>
